<div class="row">
    <div class="col-md-6 mb-3">
        [Name Input Here]
    </div>
    <div class="col-md-6 mb-3">
        [Email Input Here]
    </div>
</div>

<div class="row">
    <div class="col-md">
        [Comment Textarea Here]
    </div>
</div>

<hr class="mb-4">
