{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block header_content %}
    <h1>404 | Comment not found</h1>
    <a href="{{ path('homepage') }}" class="btn btn-primary mt-3">Return to homepage</a>
{% endblock %}
